# Dependencies
**/node_modules/

# Python Virtual Environments & Caches
**/venv/
**/env/
**/ENV/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment secrets
**/.env
.env.local

# Logs
**/logs/
*.log

# OS & Temp
.DS_Store
Thumbs.db
.cache/
